# News Headlines Sentiment

Use the news api to pull the latest news articles for bitcoin and ethereum and create a DataFrame of sentiment scores for each coin. 

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

from newsapi import NewsApiClient

Bad key savefig.frameon in file C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.1/matplotlibrc.template
or from the matplotlib source distribution
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
# Read your api key environment variable
# YOUR CODE HERE!
api_key = os.getenv("24ecd7f77e9747a1a7a39bd247263a4a")

In [3]:
type(api_key)

NoneType

In [4]:
# Create a newsapi client
# YOUR CODE HERE!
newsapi = NewsApiClient(api_key="24ecd7f77e9747a1a7a39bd247263a4a")

In [5]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
bitcoin_articles = newsapi.get_everything(q="Bitcoin AND bitcoin", language="en", page_size=100, sort_by='relevancy')
print(f"Total Number of Articles with Bitcoin: {bitcoin_articles['totalResults']}")
bitcoin_articles['articles'][0]
type(bitcoin_articles)

Total Number of Articles with Bitcoin: 3706

dict

In [6]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!
ethereum_articles = newsapi.get_everything(q="Ethereum AND ethereum", language="en", page_size=100, sort_by='relevancy')
print(f"Total Number of Articles with Ethereum: {bitcoin_articles['totalResults']}")
type(ethereum_articles)

Total Number of Articles with Ethereum: 3706

dict

In [7]:
print(f"Total Number of Articles with Ethereum: {ethereum_articles['totalResults']}")
ethereum_articles['articles'][0]

Total Number of Articles with Ethereum: 1398

{'source': {'id': 'mashable', 'name': 'Mashable'},
 'author': 'Stan Schroeder',
 'title': 'Crypto wallet MetaMask finally launches on iOS and Android, and it supports Apple Pay',
 'description': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ethereum and its ecosystem, making it easy to connect with a dece…",
 'url': 'https://mashable.com/article/metamask-ios-android/',
 'urlToImage': 'https://mondrian.mashable.com/2020%252F09%252F02%252Ffd%252Fe724b5edb4b644dba45958e17ad591e1.6b9c6.png%252F1200x630.png?signature=xIKBM112GVhTA9mUq0DRjCVGWSE=',
 'publishedAt': '2020-09-02T16:00:00Z',
 'content': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ether… [+2291 chars]"}

In [8]:
print(f"articles with Ethereum: {ethereum_articles['totalResults']}")
ethereum_articles["articles"][0]

articles with Ethereum: 1398

{'source': {'id': 'mashable', 'name': 'Mashable'},
 'author': 'Stan Schroeder',
 'title': 'Crypto wallet MetaMask finally launches on iOS and Android, and it supports Apple Pay',
 'description': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ethereum and its ecosystem, making it easy to connect with a dece…",
 'url': 'https://mashable.com/article/metamask-ios-android/',
 'urlToImage': 'https://mondrian.mashable.com/2020%252F09%252F02%252Ffd%252Fe724b5edb4b644dba45958e17ad591e1.6b9c6.png%252F1200x630.png?signature=xIKBM112GVhTA9mUq0DRjCVGWSE=',
 'publishedAt': '2020-09-02T16:00:00Z',
 'content': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ether… [+2291 chars]"}

In [9]:
# trying to make function that in turn makes dataframes from api
def make_df(news):
    articles = []
    for item in news:
        try:
            text = item['content']
            articles.append({'text': text})
        except AttributeError:
            pass
    return pd.DataFrame(articles)

In [10]:
# trying to make dataframe for each topic
bitcoin_df = make_df(bitcoin_articles['articles'])
bitcoin_df.dropna(inplace=True)
bitcoin_df.head()

                                                text
0  Two alleged crypto traders in Singapore appare...
1  By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...
2  “The COVID-19 pandemic has resulted in a mass ...
3  LAGOS/LONDON (Reuters) - Four months ago, Abol...
4  LAGOS/LONDON (Reuters) - Four months ago, Abol...

In [11]:
ethereum_df = make_df(ethereum_articles['articles'])
ethereum_df.dropna(inplace=True)
ethereum_df.head()

                                                text
0  If you've interacted with cryptocurrencies in ...
1  TL;DR: The Complete Stock and Cryptocurrency I...
2  September\r\n18, 2020\r\n6 min read\r\nOpinion...
4  LONDON (Reuters) - It sounds like a surefire b...
5  NEW YORK (Reuters) - Brooklyn-based technology...

In [12]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE!
#trying to make sentiment scores dictionaries
text_snt = {'text_compound': [], 'text_pos': [], 'text_neu': [], 'text_neg': []}

for index, row in bitcoin_df.iterrows():
    try:
        text_sentiment = analyzer.polarity_scores(row['text'])
        text_snt['text_compound'].append(text_sentiment['compound'])
        text_snt['text_pos'].append(text_sentiment['pos'])
        text_snt['text_neu'].append(text_sentiment['neu'])
        text_snt['text_neg'].append(text_sentiment['neg'])
        
        #bitcoin_sentiments.append({"text": text, "date": date, "compound": compound, "positive": pos, "negative": neg, "neutral": neu})
        
    except AttributeError:
        pass
    
bitcoin_sentiment_df = pd.DataFrame(text_snt)

bitcoin_df = bitcoin_df.join(bitcoin_sentiment_df)

bitcoin_df.columns = ['Article_Name', 'Compound', 'Good', 'Neutral', 'Bad']

bitcoin_df.head()

,Article_Name,Compound,Good,Neutral,Bad
0,Two alleged crypto traders in Singapore appare...,-0.6908,0.000,0.840,0.16
1,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...",0.0000,0.000,1.000,0.00
2,“The COVID-19 pandemic has resulted in a mass ...,0.2732,0.063,0.937,0.00
3,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00
4,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00

In [13]:
bitcoin_df.head()

,Article_Name,Compound,Good,Neutral,Bad
0,Two alleged crypto traders in Singapore appare...,-0.6908,0.000,0.840,0.16
1,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...",0.0000,0.000,1.000,0.00
2,“The COVID-19 pandemic has resulted in a mass ...,0.2732,0.063,0.937,0.00
3,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00
4,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00

In [14]:
bitcoin_df.shape

(94, 5)

In [15]:
bitcoin_df.describe()

        Compound       Good    Neutral        Bad
count  88.000000  88.000000  88.000000  88.000000
mean    0.157626   0.075557   0.882318   0.042114
std     0.464106   0.062797   0.084259   0.068476
min    -0.865800   0.000000   0.588000   0.000000
25%     0.000000   0.000000   0.831750   0.000000
50%     0.272300   0.085000   0.910000   0.000000
75%     0.507000   0.091000   0.924000   0.085000
max     0.923100   0.314000   1.000000   0.294000

In [16]:
# Create the ethereum sentiment scores DataFrame
# YOUR CODE HERE!
text_snt = {'text_compound': [], 'text_pos': [], 'text_neu': [], 'text_neg': []}

for index, row in ethereum_df.iterrows():
    try:
        text_sentiment = analyzer.polarity_scores(row['text'])
        text_snt['text_compound'].append(text_sentiment['compound'])
        text_snt['text_pos'].append(text_sentiment['pos'])
        text_snt['text_neu'].append(text_sentiment['neu'])
        text_snt['text_neg'].append(text_sentiment['neg'])
        
        #bitcoin_sentiments.append({"text": text, "date": date, "compound": compound, "positive": pos, "negative": neg, "neutral": neu})
        
    except AttributeError:
        pass
    
ethereum_sentiment_df = pd.DataFrame(text_snt)

ethereum_df = ethereum_df.join(ethereum_sentiment_df)

ethereum_df.columns = ['Article_Name', 'Compound', 'Good', 'Neutral', 'Bad']

ethereum_df.head()

,Article_Name,Compound,Good,Neutral,Bad
0,If you've interacted with cryptocurrencies in ...,0.7506,0.209,0.791,0.000
1,TL;DR: The Complete Stock and Cryptocurrency I...,0.0000,0.000,1.000,0.000
2,"September\r\n18, 2020\r\n6 min read\r\nOpinion...",0.0000,0.000,1.000,0.000
4,LONDON (Reuters) - It sounds like a surefire b...,0.0000,0.000,1.000,0.000
5,NEW YORK (Reuters) - Brooklyn-based technology...,-0.2677,0.045,0.881,0.074

In [17]:
ethereum_df.head()

,Article_Name,Compound,Good,Neutral,Bad
0,If you've interacted with cryptocurrencies in ...,0.7506,0.209,0.791,0.000
1,TL;DR: The Complete Stock and Cryptocurrency I...,0.0000,0.000,1.000,0.000
2,"September\r\n18, 2020\r\n6 min read\r\nOpinion...",0.0000,0.000,1.000,0.000
4,LONDON (Reuters) - It sounds like a surefire b...,0.0000,0.000,1.000,0.000
5,NEW YORK (Reuters) - Brooklyn-based technology...,-0.2677,0.045,0.881,0.074

In [18]:
ethereum_df.describe()

        Compound       Good    Neutral        Bad
count  88.000000  88.000000  88.000000  88.000000
mean    0.141451   0.068659   0.897489   0.033841
std     0.390351   0.066638   0.080587   0.059367
min    -0.910000   0.000000   0.689000   0.000000
25%     0.000000   0.000000   0.845250   0.000000
50%     0.177900   0.069000   0.909000   0.000000
75%     0.406800   0.097000   0.950500   0.063500
max     0.851900   0.311000   1.000000   0.309000

In [19]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!
bitcoin_df.head()

,Article_Name,Compound,Good,Neutral,Bad
0,Two alleged crypto traders in Singapore appare...,-0.6908,0.000,0.840,0.16
1,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...",0.0000,0.000,1.000,0.00
2,“The COVID-19 pandemic has resulted in a mass ...,0.2732,0.063,0.937,0.00
3,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00
4,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00

In [20]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!
ethereum_df.head()

,Article_Name,Compound,Good,Neutral,Bad
0,If you've interacted with cryptocurrencies in ...,0.7506,0.209,0.791,0.000
1,TL;DR: The Complete Stock and Cryptocurrency I...,0.0000,0.000,1.000,0.000
2,"September\r\n18, 2020\r\n6 min read\r\nOpinion...",0.0000,0.000,1.000,0.000
4,LONDON (Reuters) - It sounds like a surefire b...,0.0000,0.000,1.000,0.000
5,NEW YORK (Reuters) - Brooklyn-based technology...,-0.2677,0.045,0.881,0.074

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

# Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word
2. Remove Punctuation
3. Remove Stopwords

In [21]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [22]:
print(punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [23]:
# Expand the default stopwords list if necessary
# YOUR CODE HERE!
stop_expansion = {'fucking', 'likely'}

In [24]:
#bitk_df = bitcoin_df['text']
#bitk_df

In [25]:
#period = bitk_df[0].split('.')[0]
#period

In [26]:
#comma = period.split(',')[0]
#print(comma.split(' '))

In [27]:
#print(word_tokenize(comma))

In [28]:
#word_tkod = []
#for clump in sentence_tkod:
#    list_of_words = []
#    for comma in clump:
#        list_of_words = list_of_words + word_tokenize(comma)
#    word_tkod.append(list_of_words)

In [29]:
#content = bitcoin_articles['articles'][1]['content']
#words = word_tokenize(content)
#content

In [30]:
#bitcoin_df['tokens'] = bitcoin_df['text'].apply(tokenizer)

In [31]:
#bitcoin_df.head()

In [60]:
# Complete the tokenizer function


frank_lemmatizer = WordNetLemmatizer()
def tokenizer(text):
    words = []
    # Cut Punctuation
    regex_application = re.compile("[^a-zA-Z ]")
    repunctuated = regex_application.sub('', text)
    # Make List of Words
    unit = sent_tokenize(repunctuated)
    words = []
    for item in unit:
        subunit = word_tokenize(item)
        words = words + subunit
    # Change Words to Lowercase
    lower_case_words = [subunit.lower() for subunit in words]
    #Cut Stop Words
    stoppers = set(stopwords.words('english'))
    words_stoppers = [subunit for subunit in lower_case_words if subunit not in stoppers]
    # Lemmatize into Root Words
    results = [frank_lemmatizer.lemmatize(subunit) for subunit in words_stoppers]
    return results

In [61]:
# Create a new tokens column for bitcoin
# YOUR CODE HERE!
bitcoin_df['Tokens'] = [tokenizer(text) for text in bitcoin_df['Article_Name']]
bitcoin_df.head()

,Article_Name,Compound,Good,Neutral,Bad,Tokens
0,Two alleged crypto traders in Singapore appare...,-0.6908,0.000,0.840,0.16,"[two, alleged, crypto, trader, singapore, appa..."
1,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...",0.0000,0.000,1.000,0.00,"[alexis, akwagyiram, tom, wilson, monthly, cry..."
2,“The COVID-19 pandemic has resulted in a mass ...,0.2732,0.063,0.937,0.00,"[covid, pandemic, resulted, mass, shift, worki..."
3,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00,"[lagoslondon, reuters, four, month, ago, abola..."
4,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,1.000,0.00,"[lagoslondon, reuters, four, month, ago, abola..."

In [62]:
# Create a new tokens column for ethereum
# YOUR CODE HERE!
ethereum_df['Tokens'] = [tokenizer(text) for text in ethereum_df['Article_Name']]
ethereum_df.head()

,Article_Name,Compound,Good,Neutral,Bad,Tokens
0,If you've interacted with cryptocurrencies in ...,0.7506,0.209,0.791,0.000,"[youve, interacted, cryptocurrencies, past, co..."
1,TL;DR: The Complete Stock and Cryptocurrency I...,0.0000,0.000,1.000,0.000,"[tldr, complete, stock, cryptocurrency, invest..."
2,"September\r\n18, 2020\r\n6 min read\r\nOpinion...",0.0000,0.000,1.000,0.000,"[september, min, readopinions, expressed, entr..."
4,LONDON (Reuters) - It sounds like a surefire b...,0.0000,0.000,1.000,0.000,"[london, reuters, sound, like, surefire, bet, ..."
5,NEW YORK (Reuters) - Brooklyn-based technology...,-0.2677,0.045,0.881,0.074,"[new, york, reuters, brooklynbased, technology..."

---

# NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [ ]:
from collections import Counter
from nltk import ngrams

In [ ]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!
large_string = ' '.join(bitcoin_df['text'])
finished = tokenizer(large_string)
bigram = ngram(finished, n = 2)
Counter(bigram).most_common(10)

In [ ]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Use the token_count function to generate the top 10 words from each coin
def token_count(tokens, N=10):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [ ]:
# Get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [ ]:
# Get the top 10 words for Ethereum
# YOUR CODE HERE!

# Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

# Named Entity Recognition

In this section, you will build a named entity recognition model for both coins and visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Optional - download a language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

## Bitcoin NER

In [ ]:
# Concatenate all of the bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

## Ethereum NER

In [ ]:
# Concatenate all of the bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!