# News Headlines Sentiment

Use the news api to pull the latest news articles for bitcoin and ethereum and create a DataFrame of sentiment scores for each coin. 

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

from newsapi import NewsApiClient

Bad key savefig.frameon in file C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.1/matplotlibrc.template
or from the matplotlib source distribution
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Frank\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
# Read your api key environment variable
# YOUR CODE HERE!
api_key = os.getenv("NEWS")

In [3]:
type(api_key)

NoneType

In [4]:
# Create a newsapi client
# YOUR CODE HERE!
newsapi = NewsApiClient(api_key="NEWS")

In [5]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
bitcoin_articles = newsapi.get_everything(q="bitcoin", language="en")
print(f"Total Number of Articles with Bitcoin: {bitcoin_articles['totalResults']}")
bitcoin_articles['articles'][0]
type(bitcoin_articles)

Total Number of Articles with Bitcoin: 3767

dict

In [6]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!
ethereum_articles = newsapi.get_everything(q="ethereum", language="en")
print(f"Total Number of Articles with Bitcoin: {bitcoin_articles['totalResults']}")
type(ethereum_articles)

Total Number of Articles with Bitcoin: 3767

dict

In [7]:
print(f"Total Number of Articles with Ethereum: {ethereum_articles['totalResults']}")
ethereum_articles['articles'][0]

Total Number of Articles with Ethereum: 1422

{'source': {'id': 'mashable', 'name': 'Mashable'},
 'author': 'Stan Schroeder',
 'title': 'Crypto wallet MetaMask finally launches on iOS and Android, and it supports Apple Pay',
 'description': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ethereum and its ecosystem, making it easy to connect with a dece…",
 'url': 'https://mashable.com/article/metamask-ios-android/',
 'urlToImage': 'https://mondrian.mashable.com/2020%252F09%252F02%252Ffd%252Fe724b5edb4b644dba45958e17ad591e1.6b9c6.png%252F1200x630.png?signature=xIKBM112GVhTA9mUq0DRjCVGWSE=',
 'publishedAt': '2020-09-02T16:00:00Z',
 'content': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ether… [+2291 chars]"}

In [8]:
print(f"articles with Ethereum: {ethereum_articles['totalResults']}")
ethereum_articles["articles"][0]

articles with Ethereum: 1422

{'source': {'id': 'mashable', 'name': 'Mashable'},
 'author': 'Stan Schroeder',
 'title': 'Crypto wallet MetaMask finally launches on iOS and Android, and it supports Apple Pay',
 'description': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ethereum and its ecosystem, making it easy to connect with a dece…",
 'url': 'https://mashable.com/article/metamask-ios-android/',
 'urlToImage': 'https://mondrian.mashable.com/2020%252F09%252F02%252Ffd%252Fe724b5edb4b644dba45958e17ad591e1.6b9c6.png%252F1200x630.png?signature=xIKBM112GVhTA9mUq0DRjCVGWSE=',
 'publishedAt': '2020-09-02T16:00:00Z',
 'content': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ether… [+2291 chars]"}

In [9]:
#ethereum_contents = []
#for item in bitcoin_articles['articles']:
   # if item['content']:
    #    ethereum_contents.append(article['content'])
#print(ethereum_contents)

In [22]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE!
bitcoin_sentiments = []

for article in bitcoin_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        bitcoin_sentiments.append({"text": text, "date": date, "compound": compound, "positive": pos, "negative": neg, "neutral": neu})
        
    except AttributeError:
        pass
bitcoin_df = pd.DataFrame(bitcoin_sentiments)

cols = ["compound", "negative", "neutral", "positive", "text"]
bitcoin_df = bitcoin_df[cols]

bitcoin_df.head()
bitcoin_df.shape

(20, 5)

In [11]:
bitcoin_df.head()

,compound,negative,neutral,positive,text
0,-0.6908,0.16,0.840,0.000,Two alleged crypto traders in Singapore appare...
1,0.0000,0.00,1.000,0.000,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ..."
2,0.2732,0.00,0.937,0.063,“The COVID-19 pandemic has resulted in a mass ...
3,0.0000,0.00,1.000,0.000,"LAGOS/LONDON (Reuters) - Four months ago, Abol..."
4,0.0000,0.00,1.000,0.000,"LAGOS/LONDON (Reuters) - Four months ago, Abol..."

In [12]:
bitcoin_df.shape

(20, 5)

In [13]:
bitcoin_df.describe()

        compound   negative    neutral   positive
count  20.000000  20.000000  20.000000  20.000000
mean    0.371550   0.008000   0.915950   0.076050
std     0.320603   0.035777   0.046388   0.046397
min    -0.690800   0.000000   0.802000   0.000000
25%     0.448550   0.000000   0.910000   0.083250
50%     0.507000   0.000000   0.910000   0.090000
75%     0.507000   0.000000   0.910000   0.090000
max     0.750600   0.160000   1.000000   0.198000

In [14]:
# Create the ethereum sentiment scores DataFrame
# YOUR CODE HERE!

ethereum_sentiments = []

for item in ethereum_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethereum_sentiments.append({"text": text, "date": date, "compound": compound, "positive": pos, "negative": neg, "neutral": neu})
    except AttributeError:
        pass
ethereum_df = pd.DataFrame(ethereum_sentiments)

cols = ["compound", "negative", "neutral", "positive", "text"]

ethereum_df = ethereum_df[cols]

ethereum_df.shape

(20, 5)

In [15]:
ethereum_df.head()

,compound,negative,neutral,positive,text
0,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
1,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
2,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
3,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
4,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...

In [16]:
ethereum_df.describe()

           compound  negative       neutral      positive
count  2.000000e+01      20.0  2.000000e+01  2.000000e+01
mean   5.070000e-01       0.0  9.100000e-01  9.000000e-02
std    1.139065e-16       0.0  1.139065e-16  2.847662e-17
min    5.070000e-01       0.0  9.100000e-01  9.000000e-02
25%    5.070000e-01       0.0  9.100000e-01  9.000000e-02
50%    5.070000e-01       0.0  9.100000e-01  9.000000e-02
75%    5.070000e-01       0.0  9.100000e-01  9.000000e-02
max    5.070000e-01       0.0  9.100000e-01  9.000000e-02

In [17]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!
bitcoin_df.head()

,compound,negative,neutral,positive,text
0,-0.6908,0.16,0.840,0.000,Two alleged crypto traders in Singapore appare...
1,0.0000,0.00,1.000,0.000,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ..."
2,0.2732,0.00,0.937,0.063,“The COVID-19 pandemic has resulted in a mass ...
3,0.0000,0.00,1.000,0.000,"LAGOS/LONDON (Reuters) - Four months ago, Abol..."
4,0.0000,0.00,1.000,0.000,"LAGOS/LONDON (Reuters) - Four months ago, Abol..."

In [18]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!
ethereum_df.head()

,compound,negative,neutral,positive,text
0,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
1,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
2,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
3,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...
4,0.507,0.0,0.91,0.09,Our robot colleague Satoshi Nakaboto writes ab...

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

# Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word
2. Remove Punctuation
3. Remove Stopwords

In [23]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [24]:
# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [26]:
bitk_df = bitcoin_df['text']
bitk_df

0     Two alleged crypto traders in Singapore appare...
1     By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...
2     “The COVID-19 pandemic has resulted in a mass ...
3     LAGOS/LONDON (Reuters) - Four months ago, Abol...
4     LAGOS/LONDON (Reuters) - Four months ago, Abol...
5     Our robot colleague Satoshi Nakaboto writes ab...
6     Our robot colleague Satoshi Nakaboto writes ab...
7     Our robot colleague Satoshi Nakaboto writes ab...
8     Our robot colleague Satoshi Nakaboto writes ab...
9     Our robot colleague Satoshi Nakaboto writes ab...
10    FTX, a cryptocurrency exchange that offers der...
11    Our robot colleague Satoshi Nakaboto writes ab...
12    Our robot colleague Satoshi Nakaboto writes ab...
13    Our robot colleague Satoshi Nakaboto writes ab...
14    Our robot colleague Satoshi Nakaboto writes ab...
15    Our robot colleague Satoshi Nakaboto writes ab...
16    Our robot colleague Satoshi Nakaboto writes ab...
17    Our robot colleague Satoshi Nakaboto writes ab...
18    Our robot colleague Satoshi Nakaboto writes ab...
19    Our robot colleague Satoshi Nakaboto writes ab...
Name: text, dtype: object

In [27]:
period = bitk_df[0].split('.')[0]
period

'Two alleged crypto traders in Singapore apparently came up with a fool-proof plan: rather than convert a customers 365,000 Singapore dollars to bitcoin, they would simply rob the victim when he came … [+1735 chars]'

In [29]:
comma = period.split(',')[0]
print(comma.split(' '))

['Two', 'alleged', 'crypto', 'traders', 'in', 'Singapore', 'apparently', 'came', 'up', 'with', 'a', 'fool-proof', 'plan:', 'rather', 'than', 'convert', 'a', 'customers', '365']

In [30]:
print(word_tokenize(comma))

['Two', 'alleged', 'crypto', 'traders', 'in', 'Singapore', 'apparently', 'came', 'up', 'with', 'a', 'fool-proof', 'plan', ':', 'rather', 'than', 'convert', 'a', 'customers', '365']

In [ ]:
content = bitcoin_articles['articles'][1]['content']
words = word_tokenize(content)
content

In [ ]:
#bitcoin_df['tokens'] = bitcoin_df['text'].apply(tokenizer)

In [ ]:
#bitcoin_df.head()

In [ ]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Create a list of the words
    list_of_words = []
    # Convert the words to lowercase
    lower = set([word.lower() for word in list_of_words if word.lower() not in stop])
    # Remove the punctuation
    regex_fix = re.compile("[^a-zA-Z ]")
    reg_clean = regex_fix.sub('', Text)
    list_of_words = word_tokenize(reg_clean)
    # Remove the stop words
    stop = set(stopwords.words('english'))
    # Lemmatize Words into root words
    lemmat = [lemmatizer.lemmatize(word) for word in list_of_words]
    return tokens

In [ ]:
def cleaned(article):
    stop = set(stopwords.words('english'))
    regex_fix = re.compile("[^a-zA-Z ]")
    sub_clean = regex_fix.sub('', article)
    list_of_words = word_tokenize(sub_clean)
    lemmat = [lemmatizer.lemmatize(word) for word in list_of_words]
    server = set([list_of_words.lower() for word in list_of_words if word.lower() not in stop])
    return output

In [ ]:
bitcoin_tokenized_df = bitcoin_df.apply(tokenizer)

In [ ]:
# Create a new tokens column for bitcoin
# YOUR CODE HERE!

In [ ]:
bitcoin_df.head()

In [ ]:
ethereum_df['tokens'] = ethereum_df['text'].apply(tokenizer)

In [ ]:
ethereum_df.head()

In [ ]:
# Create a new tokens column for ethereum
# YOUR CODE HERE!

---

# NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [ ]:
from collections import Counter
from nltk import ngrams

In [ ]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!
large_string = ' '.join(bitcoin_df['text'])
finished = tokenizer(large_string)
bigram = ngram(finished, n = 2)
Counter(bigram).most_common(10)

In [ ]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Use the token_count function to generate the top 10 words from each coin
def token_count(tokens, N=10):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [ ]:
# Get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [ ]:
# Get the top 10 words for Ethereum
# YOUR CODE HERE!

# Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

# Named Entity Recognition

In this section, you will build a named entity recognition model for both coins and visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Optional - download a language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

## Bitcoin NER

In [ ]:
# Concatenate all of the bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

## Ethereum NER

In [ ]:
# Concatenate all of the bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!